body, html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    font-family: Arial, Helvetica, sans-serif;

}

#form{
    border-radius: 15px;
    background-color: white;
    width: 350px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    
}
h1{
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
}
a{
    color: #000096;
    text-decoration: underline;
}
#kaAccountLabel{
    margin-top: 0px;
    padding-top: 0px;
    color:#C5C5C5;
    margin-bottom: 20px;
}
.startEnd{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
#usernameInput, #emailInput, #passwordInput{
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #C5C5C5;
}
.labels{
    font-weight: bold;
}

#registerButton{
    padding: 12px;
    font-size: small;
    color: white;
    background-color:navy;
    opacity: 70%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    
}
#registerButton:hover{
    opacity: 85%;
}
#registerButton:active{
    opacity: 100%;
}
