body, html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    font-family: Arial, Helvetica, sans-serif;

}

#form{
    border-radius: 15px;
    background-color: white;
    width: 350px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    
}
h1{
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.endButtons{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
#kodiVerifikimitInput{
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #C5C5C5;
}
#firstLabel{
    font-weight: bold;
    
}

#verifyButton{
    padding: 12px;
    font-size: small;
    color: white;
    background-color:navy;
    opacity: 70%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
#verifyButton:hover{
    opacity: 85%;
}
#verifyButton:active{
    opacity: 100%;
}
#ridergoKodin{
    padding: 12px;
    font-size: small;
    color: navy;
    background-color:white;
    opacity: 70%;
    cursor: pointer;
    border: solid 2px navy;
    border-radius: 5px;
    margin-bottom: 10px;

}

#ridergoKodin:hover{
    opacity: 85%;
}
#ridergoKodin:active{
    opacity: 100%;
}

a{
    color: navy;
    text-decoration: none;

    padding: 12px;
    font-size: small;
    opacity: 70%;
    cursor: pointer;
    border-radius: 5px;
    border: solid 2px navy;
    text-align: center;
    margin-bottom: 10px;
}
a:hover{
    opacity: 85%;
}
a:active{
    opacity: 100%;
}
